@charset "utf-8";
.slideOuter { position:relative;}
.slideOuter .slick-arrow { 
    position:absolute; top:50%; transform:translateY(-50%);
     color:#000; cursor:pointer; border: none; background: none; }
.slideOuter .slick-arrow i { 
    font-size:80px; 
   
}
.slideOuter .slick-arrow.slick-prev { z-index: 1; left:50px;}
.slideOuter .slick-arrow.slick-next { right:50px;  }

/* 메인페이지 공통구역을 제외한 본문구역 스타일 */
 .slideOuter  { 
    position:relative;
 }

.slideOuter .slide{
    height: 571px;
    margin-top:100px;
}
.slideInner .slide1 {  background-size:cover;
    background: url(../images/kids.jpg) no-repeat center;
    position:relative
}
.slideInner .slide2 { background-size:cover;
    background: url(../images/woman.jpg) no-repeat center;
    position:relative
}
.slideInner .slide3 { background-size:cover;
    background: url(../images/man.jpg) no-repeat center;
    position:relative
}
.slideInner .slide4 { background-size:cover;
    background: url(../images/beauty.jpg) no-repeat center;
    position:relative
}



