@charset "utf-8";

/* 메인페이지 공통구역을 제외한 본문구역 스타일 */
 .slideOuter  { 
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin: 0 auto
 }

.slideOuter .slide{
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.slideOuter .slide1 {
    background-image: url(../images/kids.jpg)
}
.slideOuter .slide2 {
    background-image: url(../images/woman.jpg)
}
.slideOuter .slide3 {
    background-image: url(../images/man.jpg)
}
.slideOuter .slide4 {
    background-image: url(../images/beauty.jpg)
}



